@charset "UTF-8";


/* タブ */
#tab {
  /*position: relative;*/
  position: -webkit-fixed;
  position: fixed; /* バナーを追従させる */
  z-index: 99999; /* 他の要素の下に隠れないように */
  top: 0; /* バナーの上下の位置 */
  left: 0; /* バナーの左右の位置 */
  width: 100vw; /* バナーの横幅 */
  display: flex;
  height: 48px;
  background-color: white;
  border-style: none none solid;
  border-color: #DDD;
  border-width: 1px;
}

.tab-label {
  text-align: center;
  line-height: 48px;
  width: 100%;
  opacity: 0.2;
  transition: all 1s ease; /* 不透明度が1秒かけて変化する */
}

input[name="tab-radio"] {
  display: none; /* ラジオボタンを非表示にする */
}


input[name="tab-radio"]:checked+.tab-label {
  opacity: 1; /* アクティブタブの不透明度を1にする */
}

/* アクティブなタブのアンダーバー */
#select-tab-cover {
  position: absolute;
  width: 20%;
  height: 48px;
  border-style: none none solid;
  border-color: #000;
  border-width: 1px;
  pointer-events: none; /* クリックを無効にする */
}

/* 入力 */
#contents {
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: auto;
  scroll-snap-type: x mandatory; /* スクロールをピッタリ止める */
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 49px;
  padding-bottom: 100px;
}

#contents::-webkit-scrollbar {
  display:none;
}

.contents-item {
  scroll-snap-align: center;/* ページの真ん中でスクロールを止める */
  scroll-snap-stop: always; /* スクロール時にページを飛ばさない。 */
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

table {
  width: 100%;
}
tr {
  
}
.calc-inp-tbl td {
  padding-top: 5px;
  width: auto;
  height: 30px;
}
.calc-inp-tbl th {
  padding-top: 5px;
  /*width: 12.5%;*/
}

.clac-result-tbl td {
  width:16.6%;
}

input[type="number"] {
  border-radius: 0;
  width: 100%;
  height: 100%;
  text-align: right;
  padding: 0px;
  background-color:transparent;
  display: block;
}

select {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color:transparent;
  display: block;
}


body {
  font-size: 10px;
}
output {
  width: 100%;
  text-align:right;
  font-size: 12px;
}



.floating-result {
  position: -webkit-fixed;
  position: fixed; /* バナーを追従させる */
  z-index: 99; /* 他の要素の下に隠れないように */
  bottom: 0; /* バナーの上下の位置 */
  right: 0; /* バナーの左右の位置 */
  /*width: 100vw;*/ /* バナーの横幅 */
  width: 100%;
  height: 100px;
  background-color: white;
  border-style: solid none none none;
  border-color: #DDD;
  border-width: 1px;
}
/*
.dummy {
  background-color: red;
  height:93px;
}
*/