@charset "UTF-8";

table {
  width: auto;
  border-collapse:separate;
  border-spacing: 0;
}
table th:first-child {
  border-radius: 5px 0 0 0;
}
table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}
table th {
  font-size: 10px;
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  padding: 1px 0;
	top: 0;
}
table#calcTable th {
  position: sticky;
}
table td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  height: 80px;
}
table tr {
  height: 80px;
}
table td:last-child {
  border-right: 1px solid #a8b7c5;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0;
  width: 100%;
  text-align: right;
  border: none;
  padding: 0px;
  background-color:transparent;
  display: block;
}
input[type="number"]:focus {
  outline: solid 1px #3c6690;
}
output {
  height: 33%;
  display:block;
  text-align:right;
  font-size: 14px;
}
select {
  border: none;
  width: 100%;
  text-align: center;
  background-color:transparent;
  display: block;
}
select:focus {
  outline: solid 1px #3c6690;
}
a {
  height: 100%;
  display: flex;
  align-items: center;
}
/*列調整*/
.col_copy, .col_atk_buff, .col_card_buff, .col_np_buff, .col_ex_atk_buff, .col_fixed_dmg, 
.col_footprints, .col_advanced, .col_advanced_setting, .col_special_def, .col_prob {
  width: 28px;
}
.col_atk {
  width: 40px;
}
.col_np, .col_card_sel, .col_cri_buff, .col_supereffective_buff, .col_supereffective_np {
  width: 35px;
}
.col_advanced_setting {
  display: none;
}
.col_special_def {
  width: 31px;
}
.col_class_affinity, .col_class_servant, .col_attribute_affinity {
  width: 50px;
}
.col_dmg_result {
  width: 90px;
}
img {
  object-fit: cover;
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
}

/*罫線*/
.boundary_line {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  width: 100%;
  height: 1px;
  background-color: #a8b7c5;
  border: none;
  color: #a8b7c5;
}
/*テーブルラッパー*/
.calc {
  width: 1347px;
  padding-right: 10px;
}

/*INPUT,SELECT高さ*/
.atk, .atk_buff, .cri_buff, .np_buff, .ex_atk_buff, .supereffective_buff, .supereffective_np, .fixed_dmg, .special_def,
.class_affinity, .class_servant, .attribute_affinity, .ex_cri {
  height: 100%;
}
.np_dmg, .np_kind, .card_1st, .card_1st_cri, .card_2nd, .card_2nd_cri, .card_3rd, .card_3rd_cri {
  height: 39px;
}
.b_card_buff {
  height: 39px;
  background-color: #FFEEEE !important;
  box-shadow: 0px 3px 5px 1px #eee inset;
}
.b_card_cri_buff {
  height: 39px;
  background-color: #FFEEEE !important;
  box-shadow: 0px -3px 5px 1px #eee inset;
}
.a_card_buff {
  height: 39px;
  background-color: #F0F8FF !important;
  box-shadow: 0px 3px 5px 1px #eee inset;
}
.a_card_cri_buff {
  height: 39px;
  background-color: #F0F8FF !important;
  box-shadow: 0px -3px 5px 1px #eee inset;
}
.q_card_buff {
  height: 39px;
  background-color: #EEFFEE !important;
  box-shadow: 0px 3px 5px 1px #eee inset;
}
.q_card_cri_buff {
  height: 39px;
  background-color: #EEFFEE !important;
  box-shadow: 0px -3px 5px 1px #eee inset;
}
.b_footprints {
  height: 25.3px;
  background-color: #FFEEEE !important;
  box-shadow: 0px 3px 5px 1px #eee inset;
}
.a_footprints {
  height: 25.3px;
  background-color: #F0F8FF !important;
}
.q_footprints {
  height: 25.3px;
  background-color: #EEFFEE !important;
  box-shadow: 0px -3px 5px 1px #eee inset;
}
.advanced_atk_buff_1st, .advanced_atk_buff_2nd, .advanced_atk_buff_3rd, .advanced_atk_buff_Ex,
.advanced_supereffective_buff_1st, .advanced_supereffective_buff_2nd, .advanced_supereffective_buff_3rd, .advanced_supereffective_buff_Ex,
.advanced_fixed_dmg_1st, .advanced_fixed_dmg_2nd, .advanced_fixed_dmg_3rd, .advanced_fixed_dmg_Ex, 
.advanced_special_def_1st, .advanced_special_def_2nd, .advanced_special_def_3rd, .advanced_special_def_Ex {
  height: 18.5px;
}
.advanced_card_buff_1st, .advanced_card_buff_2nd, .advanced_card_buff_3rd,
.advanced_cri_buff_1st, .advanced_cri_buff_2nd, .advanced_cri_buff_3rd {
  height: 25.3px;
}
.wrap_dmg_result {
  display:table;
  text-align:right;
  height: 33%;
  width: 95%;
}
.wrap_dmg_result output{
  display:table-cell;
  vertical-align:middle;
}

#addRow, #clear {
    width: 130px;
    height: 40px;
    font-size: 16px;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    color: white;
    border: none;
    margin: 20px;
    border-radius: 5px 5px 5px 5px;
}
button:hover {
    cursor: pointer;
}

/*撃破率計算*/
#prob_calc{
  width: 540px;
}
.prob_result {
  font-size: 25px;
}
#prob_result {
  width: 100px;
  font-size: 25px;
}
#enemy_hp{
  height: 100%;
}
#dmg_1st, #fixed_1st, #dmg_2nd, #fixed_2nd, #dmg_3rd, #fixed_3rd, #dmg_Ex, #fixed_Ex {
  height: 39px;
}
#dmg_total, #fixed_total {
  height: 49% !important;
}
.col_prob_inp{
  width: 12%;
}
.col_prob_out{
  width: 17%;
}
.wrap_col_prob_out {
  display:table;
  text-align:right;
  height: 49%;
  width: 95%;
}
.col_prob_result {
  width: 20%;
}
.wrap_col_prob_out output{
  display:table-cell;
  vertical-align:middle;
}
.wrap_prob_result {
  display:table;
  height: 100%;
  width: 95%;
}
.wrap_prob_result output{
  display:table-cell;
  vertical-align:middle;
}


/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
}
/*モーダル本体の擬似要素の指定*/
.modal-container:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-container.active{
  opacity: 1;
  visibility: visible;
}
/*モーダル枠の指定*/
.modal-body{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 600px;
  width: 100%;
}
/*モーダルを閉じるボタンの指定*/
.modal-close{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
/*モーダル内のコンテンツの指定*/
.modal-content{
  background: #fff;
  text-align: left;
  padding: 30px;
}